<hr data-content="keep in touch">
<form style="padding:3px;text-align:center;" action="https://tinyletter.com/riggraz" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/riggraz', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <label for="tlemail">Newsletter:</label>
  <input type="text" style="width:140px" name="email" id="tlemail" placeholder="your email" />
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe" />
  <br />
  <small>
    No spam, unsubscribe at any time (or use <a href="/feed.xml">RSS feed</a>)
  </small>
</form>