<hr id="newsletter-hr" data-content="keep in touch">

<form id="newsletter" style="padding:3px;text-align:center;" onsubmit="sendEmail(); return false;">
  <label for="tlemail">newsletter:</label>
  <input type="text" style="width:140px" name="email" id="tlemail" placeholder="your email" />
  <input type="submit" value="subscribe" />
  <br />
  <small>
    get future posts in your inbox (or use <a href="/feed.xml">rss feed</a>)
  </small>
</form>

<script>
function sendEmail() {
  var email = document.getElementById('tlemail').value;
  var subject = 'Subscription request to riggraz\'s newsletter';
  var body = 'Hi Riccardo!\n\nI want to subscribe to the riggraz newsletter. My email is: ' + email + '\n\nThank you.';
  window.location.href = 'mailto:riccardo.graziosi97@gmail.com?subject=' + encodeURIComponent(subject) + '&body=' + encodeURIComponent(body);
}
</script>